/* responive */


/* tablet version  1000px*/
@media screen and (max-width: 1000px) {
    .text-content {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        gap: 7%;
    }

    .text-content :last-child {
        margin-top: 30px;
    }

    .card-square {
        flex-wrap: wrap;
    }

    .square {
        width: 22%;
    }

    .square .color-white {
        font-size: 15px;
    }

    .card-footer-right :last-child {
        margin-right: 5px;
    }

    .volume {
        margin-left: 0px;
    }

    .btn-footer-left {
        padding: 9px;
        margin-left: 0px;
    }

    .card-footer-center i {
        margin-right: 15px;
        margin-left: 15px;
        display: flex;
        align-items: center;
    }

    
}

/* mobile version 700px*/

@media screen and (max-width: 700px) {
    .text-content {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        gap: 10%;
    }

    .margin-top {
        margin-top: 30px;
    }

    .square {
        width: 40%;
    }

    .card-square {
        justify-content: center;
    }

    .margin-content {
        margin-left: 55px;
    }

    #content h2 {
        margin-left: 55px;
    }
}

/* mobile xs version 600px */

@media screen and (max-width: 600px) {
    ul {
        display: none;
    }

    .text-content {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        gap: 7%;
    }

    #sidebar {
        width: 70px;
    }

    #content {
        width: calc(100% - 70px);

    }

    .text-content :nth-child(4) {
        margin-top: 0px;
    }

    .card-footer-center i {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
    }

    .volume {
        width: 70px;
    }

    .volume2 {
        width: 20%;
    }

    .hide-sidebar {
        display: none;
    }

    .logo-small {
        display: inline-block;
        width: 80%;
        margin-left: 5px;
        margin-top: 10px;
    }

    .img-sidebar {
        width: 50%;
        margin-top: 10px;
    }

    .img-user{
        width: 60%;
    }

    .img-download{
        width: 35%;
        margin-left: 6px;
    }

    .bottom-sidebar{
        height: 80%;
    }
}

/* mobile xxs version 480px bonus */

@media screen and (max-width: 480px){

    .card-footer-right{
        display: none;
    }

    footer{
        flex-direction: column;
        height: 120px;
    }

    .card-footer-center{
        width: 90%;
    }

    .card-footer-left{
        width: 90%;
        padding-top: 10px;
        margin-left: 0px;
        display: flex;
        padding-bottom: 20px;
    }

    .btn-footer-left{
        margin-left: 60%;
        padding: 0px;
        text-align: end;
    }

    .text-content :nth-child(4) {
        margin-top: 30px;
    }

}