* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif
}

/* utilityes */

.color-white {
    color: white;
}

.color-grey {
    color: grey;
}

.flex {
    display: flex;
}

.justify-content{
    justify-content: center;
}

/* header */

header {
    position: sticky;
    height: 75px;
    background-color: rgb(8, 11, 18, 255);
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-header {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 10px;
}


main {
    height: calc(100vh - 200px);
    display: flex;
}

footer {
    height: 150px;
    background-color: rgb(40, 40, 40, 255);
}


/* sidebar */

#sidebar {
    height: 100%;
    width: 200px;
    background-color: rgb(0, 0, 0);
}

.logo {
    width: 100%;
    padding: 20px 50px 10px 10px;
}

.card-sidebar {
    width: 100%;
    margin-left: 15px;
    position: relative;
}

.img-sidebar {
    margin-top: 10px;
    width: 15%;
}

.text-sidebar {
    position: absolute;
    transform: translate(50%, 50%);
    top: 20%;
    left: 10%;
}

.libreria {
    position: absolute;
    transform: translate(50%, 50%);
    top: 10%;
    left: 0%;
}

.btn-playlist {
    height: 40px;
    width: 40px;
    background-color: #A3A3A3;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}

.card-playlist {
    width: 100%;
    margin-left: 15px;
    margin-top: 15px;
}

.text-playlist {
    display: inline-block;
}

.card-list {
    width: 100%;
    margin-left: 20px;
}

.card-list ul {
    color: white;
    margin-top: 15px;
    line-height: 50px;
    list-style: none;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 260px;

}

.img-download {
    width: 10%;
    justify-content: center
}

.flex .color-white {
    margin-left: 10px;
}

.hr-sidebar {
    width: 90%;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.img-user {
    width: 15%;
    margin-top: 20px;
    background-color: grey;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}

.jhon-doe {
    display: inline-block;
}

/* content */

#content {
    width: calc(100% - 200px);
    background-color: rgb(20, 25, 34, 255);
    overflow-y: auto;
}

.text-content {
    justify-content: center;
    gap: 3%;
    margin-top: 20px;
}

.square {
    width: 15%;
}


#content h2 {
    color: white;
    margin-top: 50px;
    margin-left: 20px;
}

.card-square {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
}

.img-square {
    width: 100%;
}

.text-square {
    text-align: center;
    line-height: 25px;
}

.square .color-white {
    font-size: 20px;
    margin-top: 10px;
}

.margin-content {
    margin-top: 10px;
    margin-left: 20px;
}

.img-square-radius {
    width: 100%;
    border-radius: 50%;
}

/* footer */

footer {
    height: 100px;
    background-color: rgb(40, 40, 40, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer-left {
    width: 20%;
    height: 50%;
    display: flex;
    margin-left: 10px;
}

.square-img-footer{
    height: 50px;
}

.square-img-footer img{
    height:100%;
}


.size-footer-left {
    font-size: 12px;
    align-items: center;
    padding-top: 9px;
    margin-left: 10px;
}

.btn-footer-left{
    align-items: center;
    padding: 9px;
    margin-left: 30px;
}

.btn-footer-left i{
    margin-right: 10px;
}

.card-footer-center{
    width: 40%;
    height: 50%;
}

.card-footer-center i{
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.card-footer-center i:nth-child(3){
    font-size: 30px;
    position: relative;
}

.line{
    width: 500px;
    border: 2px solid grey;
    border-radius: 50px;
    height: 0px;
    margin: 15px 20px 0px 20px;

}

.card-footer-right{
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.time{
    color: white;
    font-size: 10px;
    margin-top: 10px;
}

.volume{
    width: 100px;
    border: 2px solid grey;
    border-radius: 50px;
    height: 0px;
    margin: 5px 20px 0px 20px;
}

.card-footer-right i{
    color: white;
    margin-right: 15px;
    font-size: 10px;
}